@import "tailwindcss";
@import "tw-animate-css";
@import "./base.css";
@import "./default.css";
@import "./theme.css";

/* Feature-level CSS */
@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  max-width: 1280px;

  @media (width >= 768px) {
    padding-inline: 2rem;
  }
}